In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('COMBINED_DATA_ALL_YEARS.csv')

C:\Users\saiki\AppData\Local\Temp\ipykernel_40460\1177924519.py:1: DtypeWarning: Columns (7,12,15,23,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('COMBINED_DATA_ALL_YEARS.csv')

In [3]:
# Create a table with null values sorted by percentage
null_counts = df.isnull().sum()
null_percent = (df.isnull().sum() / df.shape[0]) * 100

# Create a DataFrame for better display
null_table = pd.DataFrame({
    'Null Count': null_counts,
    'Null Percentage': null_percent.round(2)
})

# Sort by null percentage in descending order for better readability
null_table = null_table.sort_values('Null Percentage', ascending=False)

# Display the table
display(null_table)

                 Null Count  Null Percentage
ER_VISIT            2131534            99.96
X_STAY              2130473            99.91
BIRTH_DEFECT        2130515            99.91
RPT_DATE            2128286            99.81
V_FUNDBY            2127785            99.78
CAGE_MO             2079969            97.54
DATEDIED            2074440            97.28
DIED                2069522            97.05
L_THREAT            2060071            96.61
DISABLE             2049803            96.13
PRIOR_VAX           2026034            95.01
HOSPDAYS            1905047            89.34
HOSPITAL            1798694            84.35
ER_ED_VISIT         1739672            81.58
OFC_VISIT           1605153            75.27
CUR_ILL             1491213            69.93
SPLTTYPE            1469418            68.91
SYMPTOMVERSION5     1397376            65.53
SYMPTOM5            1397376            65.53
LAB_DATA            1254566            58.83
ALLERGIES           1247228            58.49
SYMPTOM4            1182715            55.46
SYMPTOMVERSION4     1182715            55.46
OTHER_MEDS          1050137            49.25
HISTORY             1011867            47.45
SYMPTOMVERSION3      888290            41.66
SYMPTOM3             888290            41.66
VAX_SITE             634795            29.77
VAX_LOT              599624            28.12
VAX_ROUTE            570497            26.75
SYMPTOMVERSION2      483395            22.67
SYMPTOM2             483395            22.67
CAGE_YR              447546            20.99
STATE                291676            13.68
NUMDAYS              289549            13.58
AGE_YRS              225911            10.59
RECOVD               225098            10.56
ONSET_DATE           195760             9.18
VAX_DATE             160342             7.52
TODAYS_DATE           29146             1.37
VAX_DOSE_SERIES       23410             1.10
SYMPTOM_TEXT           2700             0.13
SEX                    2619             0.12
V_ADMINBY                 0             0.00
VAERS_ID                  0             0.00
RECVDATE                  0             0.00
FORM_VERS                 0             0.00
SYMPTOMVERSION1           0             0.00
SYMPTOM1                  0             0.00
ORDER_x                   0             0.00
ORDER_y                   0             0.00
VAX_TYPE                  0             0.00
VAX_MANU                  0             0.00
VAX_NAME                  0             0.00
ORDER                     0             0.00

In [ ]:
## columns which are having more than 90 percent of the null values in the data frame
col_90_null = ['ER_VISIT', 'X_STAY', 'BIRTH_DEFECT', 'RPT_DATE', 'V_FUNDBY', 'CAGE_MO', 'DATEDIED', 'DIED', 'L_THREAT' ,'DISABLE', 'PRIOR_VAX']


## columns having more than 50% and less than 90 percent of the null values in the dataframe

col_50_90_null = ['HOSPDAYS', 'HOSPITAL', 'ER_ED_VISIT', 'OFC_VISIT', 'CUR_ILL', 'SPLTTYPE', 'SYMPTOMVERSION5', 'SYMPTOM5', 'LAB_DATA', 'ALLERGIES', 'SYMPTOM4',
'SYMPTOMVERSION4']

## columns having 20% to 50% null values
col_20_50_null = ['OTHER_MEDS', 'HISTORY', 'SYMPTOMVERSION3', 'SYMPTOM3', 'VAX_SITE', 'VAX_LOT', 'VAX_ROUTE', 'SYMPTOMVERSION2', 'SYMPTOM2', 'CAGE_YR']

## columns having 1% to 20% null values
col_1_20_null = ['STATE', 'NUMDAYS', 'AGE_YRS', 'RECOVD', 'ONSET_DATE', 'VAX_DATE', 'TODAYS_DATE', 'VAX_DOSE_SERIES', 'SYMPTOM_TEXT', 'SEX']

In [10]:
df.head(5)

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,SYMPTOMVERSION5,ORDER_y,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME,ORDER
0,810053,01/01/2020,OH,73.0,73.0,NaN,F,NaN,Extreme shivering for approx. 5 hours then fev...,NaN,...,22.1,2,FLU3,SANOFI PASTEUR,NaN,UNK,NaN,NaN,INFLUENZA (SEASONAL) (FLUZONE HIGH-DOSE),2
1,810053,01/01/2020,OH,73.0,73.0,NaN,F,NaN,Extreme shivering for approx. 5 hours then fev...,NaN,...,NaN,2,FLU3,SANOFI PASTEUR,NaN,UNK,NaN,NaN,INFLUENZA (SEASONAL) (FLUZONE HIGH-DOSE),2
2,855017,01/01/2020,HI,55.0,55.0,NaN,F,NaN,Symptoms occurred almost immediately- aching j...,NaN,...,NaN,1,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,2,SYR,LA,ZOSTER (SHINGRIX),1
3,855018,01/01/2020,WI,68.0,68.0,NaN,F,NaN,"Extreme pain, muscle weakness in right arm so ...",NaN,...,22.1,1,UNK,UNKNOWN MANUFACTURER,NaN,1,IM,RA,VACCINE NOT SPECIFIED (OTHER),1
4,855018,01/01/2020,WI,68.0,68.0,NaN,F,NaN,"Extreme pain, muscle weakness in right arm so ...",NaN,...,22.1,1,UNK,UNKNOWN MANUFACTURER,NaN,1,IM,RA,VACCINE NOT SPECIFIED (OTHER),1

In [ ]:
## column view of the 90 percent null values in the table


col_90_null = [
    'ER_VISIT', 'X_STAY', 'BIRTH_DEFECT', 'RPT_DATE', 
    'V_FUNDBY', 'CAGE_MO', 'DATEDIED', 'DIED', 
    'L_THREAT', 'DISABLE', 'PRIOR_VAX'
]

# Select only those columns
null90_df = df[col_90_null]

null90_df

,ER_VISIT,X_STAY,BIRTH_DEFECT,RPT_DATE,V_FUNDBY,CAGE_MO,DATEDIED,DIED,L_THREAT,DISABLE,PRIOR_VAX
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72; intense pain;12/7/18/Fluzone High-Dose/San...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72; intense pain;12/7/18/Fluzone High-Dose/San...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2132426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2132427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2132428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2132429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2132430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
## column view of the 50-90 percent null values in the table


col_50_90_null = ['HOSPDAYS', 'HOSPITAL', 'ER_ED_VISIT', 'OFC_VISIT', 'CUR_ILL', 'SPLTTYPE', 'SYMPTOMVERSION5', 'SYMPTOM5', 'LAB_DATA', 'ALLERGIES', 'SYMPTOM4',
'SYMPTOMVERSION4']
# Select only those columns
null50_90_df = df[col_50_90_null]

null50_90_df

,HOSPDAYS,HOSPITAL,ER_ED_VISIT,OFC_VISIT,CUR_ILL,SPLTTYPE,SYMPTOMVERSION5,SYMPTOM5,LAB_DATA,ALLERGIES,SYMPTOM4,SYMPTOMVERSION4
0,NaN,NaN,NaN,NaN,None I was aware of,NaN,22.1,Insomnia,None. Did know know if the adverse events wer...,Latex,Heart rate increased,22.1
1,NaN,NaN,NaN,NaN,None I was aware of,NaN,NaN,NaN,None. Did know know if the adverse events wer...,Latex,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Morphine,Pyrexia,22.1
3,NaN,NaN,Y,Y,NaN,NaN,22.1,Injected limb mobility decreased,Same day 12/30/2019. No tests other than routi...,"Penicillin, sulfa drugs, erythromycin, tetracy...",Hypoaesthesia,22.1
4,NaN,NaN,Y,Y,NaN,NaN,22.1,Vertigo,Same day 12/30/2019. No tests other than routi...,"Penicillin, sulfa drugs, erythromycin, tetracy...",Tremor,22.1
...,...,...,...,...,...,...,...,...,...,...,...,...
2132426,NaN,NaN,NaN,NaN,NaN,"USNovavax, Inc2025NVXUS00",NaN,NaN,NaN,NaN,NaN,NaN
2132427,NaN,NaN,NaN,NaN,Allergy to chemicals NOS,"USNovavax, Inc2025NVXUS00",NaN,NaN,NaN,NaN,NaN,NaN
2132428,NaN,NaN,NaN,NaN,NaN,"USNovavax, Inc2025NVXUS00",NaN,NaN,NaN,NaN,NaN,NaN
2132429,NaN,NaN,NaN,NaN,NaN,USGSKUS2025AMR094015,28.0,Vaccination failure,NaN,NaN,Stress,28.0
2132430,NaN,NaN,NaN,NaN,NaN,USGSKUS2025AMR094015,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## column view of the 20-50 percent null values in the table


col_20_50_null = ['OTHER_MEDS', 'HISTORY', 'SYMPTOMVERSION3', 'SYMPTOM3', 'VAX_SITE', 'VAX_LOT', 'VAX_ROUTE', 'SYMPTOMVERSION2', 'SYMPTOM2', 'CAGE_YR']

# Select only those columns
null20_50_df = df[col_20_50_null]

null20_50_df

,OTHER_MEDS,HISTORY,SYMPTOMVERSION3,SYMPTOM3,VAX_SITE,VAX_LOT,VAX_ROUTE,SYMPTOMVERSION2,SYMPTOM2,CAGE_YR
0,"Ovicite eye vitamins, vitamin D, vitamin C, Tu...",fibromyalgia; arthritis,22.1,Headache,NaN,NaN,NaN,22.1,Chills,73.0
1,"Ovicite eye vitamins, vitamin D, vitamin C, Tu...",fibromyalgia; arthritis,NaN,NaN,NaN,NaN,NaN,22.1,Pyrexia,73.0
2,Loristan,Migraines,22.1,Injection site pain,LA,NaN,SYR,22.1,Chills,55.0
3,"levothyroxine, multi vitamin, calcium.","Hypothyroidism, Meniere's Disease.",22.1,Hypertension,RA,NaN,IM,22.1,Fatigue,68.0
4,"levothyroxine, multi vitamin, calcium.","Hypothyroidism, Meniere's Disease.",22.1,Pyrexia,RA,NaN,IM,22.1,Pain in extremity,68.0
...,...,...,...,...,...,...,...,...,...,...
2132426,NaN,NaN,NaN,NaN,NaN,NaN,OT,28.0,Off label use,NaN
2132427,NaN,NaN,NaN,NaN,NaN,NaN,OT,28.0,Off label use,NaN
2132428,NaN,NaN,NaN,NaN,NaN,NaN,OT,28.0,Off label use,NaN
2132429,NaN,NaN,28.0,Oral herpes zoster,NaN,UNK,NaN,28.0,Malaise,NaN
2132430,NaN,NaN,NaN,NaN,NaN,UNK,NaN,NaN,NaN,NaN

In [ ]:
## column view of the 1-20 percent null values in the table


col_1_20_null = ['STATE', 'NUMDAYS', 'AGE_YRS', 'RECOVD', 'ONSET_DATE', 'VAX_DATE', 'TODAYS_DATE', 'VAX_DOSE_SERIES', 'SYMPTOM_TEXT', 'SEX']
# Select only those columns
null1_20_df = df[col_1_20_null]

null1_20_df

,STATE,NUMDAYS,AGE_YRS,RECOVD,ONSET_DATE,VAX_DATE,TODAYS_DATE,VAX_DOSE_SERIES,SYMPTOM_TEXT,SEX
0,OH,0.0,73.0,U,12/30/2019,12/30/2019,01/01/2020,UNK,Extreme shivering for approx. 5 hours then fev...,F
1,OH,0.0,73.0,U,12/30/2019,12/30/2019,01/01/2020,UNK,Extreme shivering for approx. 5 hours then fev...,F
2,HI,0.0,55.0,N,12/30/2019,12/30/2019,01/01/2020,2,Symptoms occurred almost immediately- aching j...,F
3,WI,0.0,68.0,Y,12/30/2019,12/30/2019,01/01/2020,1,"Extreme pain, muscle weakness in right arm so ...",F
4,WI,0.0,68.0,Y,12/30/2019,12/30/2019,01/01/2020,1,"Extreme pain, muscle weakness in right arm so ...",F
...,...,...,...,...,...,...,...,...,...,...
2132426,NY,NaN,NaN,Y,NaN,NaN,07/24/2025,UNK,Daughter received the 2024-2025 Novavax vaccin...,F
2132427,NaN,0.0,NaN,Y,04/01/2025,04/01/2025,07/24/2025,UNK,"I got the one in the last batch in April, but ...",F
2132428,NY,NaN,NaN,Y,NaN,NaN,07/24/2025,UNK,"I got my last year only got the one dose, didn...",F
2132429,NaN,NaN,NaN,N,NaN,NaN,07/25/2025,UNK,Suspected vaccination failure; vertigo so bad ...,NaN
2132430,NaN,NaN,NaN,N,NaN,NaN,07/25/2025,UNK,Suspected vaccination failure; vertigo so bad ...,NaN

In [9]:
df['ER_VISIT'].isnull().sum()

np.int64(2131534)